body{
	position:relative;
	width:100%;
	min-width:960px;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
}
/*********************************************************************************************
	顶部部分
*********************************************************************************************/
div.head{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:40px;
	background-color:#222;
	border-bottom:#C0C0C0 solid 1px;
}
#btn_login{
	float:right;
	margin:5px 15px 0 0;	
}
.action_user{
	float:right;
	margin:5px 15px 0 0;	
}
div.title{
	float:left;
	width:180px;
	height:auto;
	margin:0;
	padding:0;
	text-align:center;
	font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#fff;
	line-height:40px;
}
/*********************************************************************************************
	左部导航部分
*********************************************************************************************/
div.left{
	float:left;
	width:28%;
	height:auto;
	margin:60px 0 60px 0;
	background-color:transparent;
	border:none;
	text-align:right;
}
#main_nav{
	background-color:transparent;
	margin:0 50px 0 0;
	float:right;
	width:60%;
	min-width:200px;
	text-align:left;
}
#main_nav li.disabled{
	text-indent:0em;
}
#main_nav li{
	text-indent:2em;
}
/*********************************************************************************************
	右边主体部分
*********************************************************************************************/
div.right{
	float:left;
	width:70%;	
	min-width:800px;
	height:auto;
	margin:60px 0 60px 0;
	background-color:transparent;
}
div.right_head{
	float:left;
	width:92%;
	height:90px;
	border:#CCC solid 1px;
	border-radius:5px;
	margin:0 auto 15px auto;
}
div.title_2{
	width:100%;
	height:auto;
	text-align:left;
	text-indent:1em;
	margin:0 auto 10px auto;
	font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;
	font-size:24px;
	line-height:40px;
	color:#000;	
}
div.search{
	float:left;
	margin:0 15px 0 15px;
}
#btn_head{
	float:left;
	margin:auto 0 auto 20px;	
}
div.right_main{
	float:left;
	width:92%;
	height:auto;
	border:none;
	padding:0;
	margin:0 auto 15px auto;
}
div.right_foot{
	float:left;
	width:92%;
	height:auto;
	border:none;
	padding:0;
	text-align:center;
	margin:0 auto 40px auto;	
}
th.number{
	width:60px;
	text-align:center;
}
th.name{
	width:120px;
	text-align:center;
}
th.name_l{
	width:240px;
	text-align:center;
}
th.stdn{
	width:120px;
	text-align:center;
}
th.app{
	text-align:center;
}
td.number{
	text-align:center;
}
td.name{
	text-align:center;
}
td.stdn{
	text-align:center;
}
td.app{
	text-align:left;
}
/*********************************************************************************************
	登录框
*********************************************************************************************/
div.login{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	text-align:center;
	padding:0;
	background-color:#000;
	opacity:0.85;
}
form.login{
	margin:200px auto;	
}
div.frame_login{
	clear:both;	
	width:320px;
	height:185px;
	border-radius:5px;
	border:#CCC solid 1px;
	background-color:#fff;
	margin:auto;
	padding:inherit;
	opacity:1.0;
}
#btn_close{
	float:right;
	margin:0 0 5px 0;}
#login_submit{
	float:right;}
div.check_box{
	float:left;
	margin:0 0 10px 20px;}
#login_submit{
	width:100%;
	width:100%;
	margin:5px 0;}
/*********************************************************************************************
	功能部分
*********************************************************************************************/
div.add{
	float:left;
	width:240px;
	height:320px;
	margin:0 5px 0 5px;
	border:#CCC solid 1px;
	border-radius:5px;
	background-color:#fff;
	overflow:hidden;
	index:0;
}
iframe.add{
	border:none;
	background-color:#fff;
	margin:0;
	width:100%;
	height:100%;
	overflow:hidden;	
}
form.add{
	float:left;
	width:100%;
	height:auto;
	border:#CCC solid 1px;
	border-radius:5px;
	margin:0 auto 15px auto;
	padding:20px 0 0 0;
	text-indent:2em;
}
span{
	text-indent:0em;}
div.app_name{
	width:100%;
	height:30px;
	margin:0 0 10px 0;
	text-indent:2em;
	font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:30px;
	color:#000;	
}
#add_submit{
	margin:0 0 30px 26px;
}
#add_adress input.span2{
	width:320px;!important	
}
form.search{
	float:left;
	height:32px;
	line-height:32px;
	font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	margin:0 0 0 15px;
}

.topNav{
	height: 32px;
	border: 10px solid #dcdcdc;
	border-width: 0 0 10px 0;
	margin-bottom: 5px;
	z-index: 10;
}

.topNav ul{
	float: right;
	display: inline;
	margin-right: 20px;
}

.topNav ul li{
	float: left;
	display: inline;
	margin: 0 20px 0 0;
}

.topNav ul li img{
	float: left;
	height: 23px;
	width: 23px;
	margin: 5px 8px 0 0;
}

.topNav ul li div{
	float: left;
	font-size: 8px;
	color: #bebdbd;
}

.topNav{
	height: 32px;
	border: 10px solid #666666;
	border-width: 0 0 10px 0;
	margin-bottom: 5px;
	z-index: 10;
}

.topNav ul{
	float: right;
	display: inline;
	margin-right: 20px;
}

.topNav ul li{
	float: left;
	display: inline;
	margin: 0 20px 0 0;
}

.topNav ul li img{
	float: left;
	height: 23px;
	width: 23px;
	margin: 5px 8px 0 0;
}

.topNav ul li p{
    margin-top:5px;
	float: left;
	font-size: 8px;
	color: #bebdbd;
}

#add_error{
color:red;
}

a {
	text-indent:0;
}
/********************************************************************************************
	部件
*******************************************************************************************/
div.ClassBox {
	margin:0 0 30px 26px;
	width:55%;
	min-width:500px;
	height:300px;
	border:solid 1px #ccc;
	border-radius:5px;
	text-indent:0;
}
div.ClassBoxLeft{
	float:left;
	width:220px;
	height:100%;
	border-right:solid 1px #ccc;
	text-align:center;
}
div.ClassBoxLeftHead{
	background-color:#eee;
	color:#000;
	font-size:16px;
	font-family:"微软雅黑","黑体";
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;
}
div.classBoxLeftContent{
	overflow-y:scroll;
	font-size:14px;
	font-family:"微软雅黑","黑体";
	width:100%;
	height:270px;
	line-height:20px;
	border-buttom:solid 20px #ccc;
	text-align:center;
}
div.ClassBoxRight{
	text-align:center;
}

a.classBoxSingle{
	margin:5px 0 0 0;
}


div.locationBox{
	margin:0 0 30px 26px;
	width:55%;
	min-width:500px;
	height:300px;
	border:solid 1px #ccc;
	border-radius:5px;
	text-indent:0;
}
div.locationSelect{
	float:left;
	width:220px;
	height:100%;
	border-right:solid 1px #ccc;
	text-align:center;
}
div.locationSelectHead{
	background-color:#eee;
	color:#000;
	font-size:16px;
	font-family:"微软雅黑","黑体";
	width:100%;
	height:30px;
	line-height:30px;
	text-align:center;	
}
div.locationSelectContent{
	overflow-y:scroll;
	font-size:14px;
	font-family:"微软雅黑","黑体";
	width:100%;
	height:270px;
	line-height:20px;
	border-buttom:solid 20px #ccc;
	text-align:center;	
}
div.locationAdd{
	float:left;
	width:279px;
	height:100%;
	text-align:center;
}

div.singleLocationBox{
	width:240px;
	height:60px;
	margin:8px 10px 0 10px;
	border:solid 1px #ccc;
	border-radius:5px;
	text-align:center;
	background-color:#eee;
}
div.singleLocationTitle{
	width:240px;
	height:29px;
	border-bottom:solid 1px #ccc;
	background-color:#eee;
	font-size:14px;
	line-height:29px;
	font-family:"微软雅黑","黑体";
}
div.singleLocationCan{
	float:left;
	width:117px;
	height:30px;
	border-right:solid 1px #ccc;
	border-bottom-left-radius:5px;
	background-color:#eee;
	background-color:#eee;
	font-size:14px;
	line-height:29px;
	font-family:"微软雅黑","黑体";
}
input.singleLocationUse{
	float:left;
	width:108px;
	height:20px;
	border-radius:5px;
}
span.checkOut{
	padding:2px 10px;
	margin:3px;
	border-radius:5px;
	border:solid 1px #FF0033;
	font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FF0033;
	line-height:20px;
}

table.class-tab {
	text-align:center;
}
teble.class-tab td{
	text-align:center;
}
tr.class-tab{
	text-align:center;
}
td.class-tab{
	text-align:center;
	height:80px;
	font-size:12px;
}
td.class-tab:hover{
	background-color:#eee;
}
td.class-tab-have{
	text-align:center;
	height:80px;
	font-size:12px;
	background-color:#CCFFFF;
}
td.class-tab-have:hover{
	background-color:#CCEEFF;
}
td.class-tab-none{
	text-align:center;
	height:80px;
	font-size:12px;
	background-color:#FFCCFF;
}
td.class-tab-none:hover{
	background-color:#FFCCDD;
}
th.class-tab{
	text-align:center;
	width:12.5%;
}


td.notice_head{
	text-align:center;
	width:40px;
	cursor: pointer;
}
td.notice_sender{
	text-align:center;
	width:120px;
	cursor: pointer;
}
td.notice_title{
	text-align:center;
	width:450px;
	cursor: pointer;
}
td.notice_time{
	text-align:center;
	cursor: pointer;
}
th.notice_head{
	text-align:center;
	width:40px;
}
th.notice_sender{
	text-align:center;
	width:120px;
}
th.notice_title{
	text-align:center;
	width:450px;
}
th.notice_time{
	text-align:center;
}

div.notice_sender{
	margin:0px 10px 10px 24px;
	float:left;
	line-height:20px;
	font-size:14px;
	color:#666;
}
div.notice_time{
	margin:0px 24px 10px 30px;
	float:left;
	line-height:20px;
	font-size:14px;
	color:#666;
}
div.notice_app{
	margin:0px 24px 10px 30px;
	float:right;
	line-height:20px;
	font-size:14px;
	color:#666;
}
div.notice_app2{
	margin:0px 24px 10px 30px;
	float:left;
	line-height:20px;
	font-size:14px;
	color:#666;
}
div.notice_main{
	border:solid 1px #ccc;
	border-radius:5px;
	width:100%;
	min-height:200px;
	text-align:center;
}

div.notice_main p{
	width:92%;
	margin:10px 30px;
	line-height:24px;
	font-size:14px;
	text-align:left;
	text-indent:2em;
}