/* CSS Document */
body{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#fff;
	text-align:center;
	overflow-x:hidden;}
div.frame_login{
	position:relative;
	width:505px;
	height:285px;
	margin: 150px auto;
	padding:0;
	border:#C0C0C0 solid 1px;
	font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	overflow:hidden;
	box-shadow:10px 10px 15px #CCC;
	background-color:#006699;}
div.frame_logo{
	float:left;
	width:505px;
	height:40px;
	float:left;
	text-align:center;
	font-size:22px;
	line-height:35px;
	border:none;}
div.frame_login_left{
	float:left;
	width:180px;
	height:285px;
	margin:0;
	padding:0;
	background-color:transparent;
	color:#fff;
	border:none;}
div.frame_blank{
	float:right;
	width:325px;
	height:40px;
	margin:0;
	padding:0;
	border:none;}
form.frame_login_right{
	float:right;
	width:325px;
	height:245px;
	margin:0;
	padding:0;
	border:none;
	background-color:#DDDDDD;
	border-top-left-radius:10px;
	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	overflow:hidden;
	font-size:12px;}
div.frame_login_in{
	position:relative;
	float:left;
	margin:0;
	padding:0;
	border:none;
	background-color:#fff;
	width:305px;
	height:190px;
	border-top-left-radius:10px;
	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	text-align:left;}
input.login_box{
	float:none;
	width:260px;
	height:45px;
	text-align:center;
	border:#ddd solid 1px;
	font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	margin:20px 0 0 20px;
	border-top-left-radius:10px;
	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;}
label.login_box_n{
	position:absolute;
	top:32px;
	left:20px;
	width:60px;
	height:45px;
	text-align:center;
	border:none;
	font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#999;
	display:}
label.login_box_p{
	position:absolute;
	top:102px;
	left:20px;
	width:40px;
	height:45px;
	text-align:center;
	border:none;
	font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#999;
	display:}
input.login_box:focus{
	border-color:#0CF;}
input.login_box:hover{
	border-color:#0CF;}
*:focus{outline: none;}
input.login_age{
	float:none;
	margin:20px 0 0 20px;
	border-top-left-radius:10px;
	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-bottom-right-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;}
input.login_submit{
	float:right;
	width:60px;
	height:36px;
	margin:10px 46px;
	border:#fff solid 1px;
	font-family:"微软雅黑","黑体",Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#fff;
	text-align:center;
	background-color:#ddd;}
input.login_submit:hover{
	border-color:#00CCFF;
	color:#00CCFF;
	cursor:pointer;}
div.error{
	float:right;
	color:#FF0033;
	margin:20px 20px 0 20px;}
	